<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <title>donCamp</title>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@500&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!--    main stylesheet-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">


    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
            integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
            crossorigin="anonymous"></script>
</head>

<body>

<div class="donation-container">
    <div class="donate-bg">

        <div class="d-flex justify-content-center ">
            <div class="card donate-coloured-section" style="width: 37rem;">
                <div class="card-body text-center">
                    <h2>donCamp</h2>
                    <h3 class="card-text m-3">Donate and help a needy today!</h3>
                    <p class="m-3">When you choose to give, you may not realize that donation will do more than just
                        help a cause, giving can also provide you with many personal benefits. Whether you choose to
                        donate to charities supporting people living in poverty, advocating to protect the environment,
                        or addressing other global or local problems, charities need your help to continue their
                        selfless initiatives, but giving can feel just as good as receiving!</p>
                    <h5 class="m-5">We are grateful for the immense trust you have placed in us and we promise to
                        utilize the money in the best possible ways.</h5>
                    <a href="https://rzp.io/l/zZ8gqSWCN" class="btn btn-lg pay-btn">Donate now</a>
                </div>
            </div>
        </div>

    </div>

</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>